name: Build

on:
  push:
    branches:
      - main
    paths:
      - 'main.go'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25

      - name: Build rule sets
        id: build
        env:
          GOAMD64: v3
          NO_SKIP: true
        run: |
          go run -v .
